{% extends 'base.html' %}
{% load static %}
{% block titulo_pagina %}Listado de Materias{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad de Horas</th>
                <th>MODIFICAR</th>
                <th>ELIMINAR</th>
            </tr>
        </thead>
    {% for materia in materias %}
        <tr>
            <td>{{materia.codigo}}</td>
            <td>{{materia.nombre}}</td>
            <td>{{materia.cant_horas}}</td>
            <td><a href="{% url 'modificar_materia' materia.codigo %}"><img src="{% static 'img/Editar_25.png' %}"></a></td>
            <td><a href="{% url 'eliminar_materia' materia.codigo %}"><img src="{% static 'img/Eliminar_25.png' %}"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}