{% extends 'base.html' %}
{% load static %}
{% block titulo_pagina %}Administración de Profesores{% endblock %}
{% block body %}
<script>$(document).ready(function(){
    $("#dni").mask("00.000.000");
    $("#phone").mask("(000) 000-0000");
    $("#dob").mask("00/00/0000");
    $("#cuit").mask("00-00.000.000-0");
    $("#hora").mask("00:00");
    $("#hora2").mask("00:00");
});</script>
    <form class="form" method="post" enctype="multipart/form-data" novalidate=''>
        {% csrf_token %}
        {% if form.errors %}
            <div class = "alert alert-danger d-flex align-items-center" role="alert">
                <p>Hay errores en los datos ingresados.Por favor, corriga lo siguiente:</p>
                {{ form.non_field_errors }}
                <u1>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </u1>
                <hr><br>
            </div>
        {% endif %}
        {{ form.aula_idAula.label }} {{ form.aula_idAula }}
        {{ form.turno_idturno.label }} {{ form.turno_idturno }}
        {{ form.hora_ingreso.label }} {{ form.hora_ingreso }}
        {{ form.hora_egreso.label }} {{ form.hora_egreso }}
        <br>
        <button type="submit" id="submit">Enviar</button>
    </form>
{% endblock %}